@keyframes bmw{ 
    0%{left:0px;top:0px;}
    12%{opacity: 0%;}
    25%{left:500px; top:0px;opacity: 100%;}
    38%{opacity: 0%;}
    50%{left:500px; top:500px;opacity: 100%;}
    62%{opacity: 0%;}
    75%{left:0px; top:500px;opacity: 100%;}
    88%{opacity: 0%;}
    100%{left:0px; top:0px;opacity: 100%;}
  }

img{
    width: 500px;
    position: relative;
    animation-name: bmw ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}