.topTitle {
    height: 100px;
    font-size: 30px;
    background-color: #fc8404;
}
body{
    background-image: url("bitcoin-div.png");
    margin-left: auto;
    margin-right: auto;
    /* overflow: hidden; */
    height: auto;


}

.navbar {
    background-image: url("");

}

.navbar-toggler {
    border: 5px solid rgb(0, 0, 0);
}

.nav-link
.d-flex{
    float:right;
}

#coinContainer  {
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    height: auto;
}

.canvasjs-chart-container{
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}


.chartContainer{
    margin-left: auto;
    margin-right: auto;
    
}

#AboutDV{
    height: 150px; 
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background-color: #f8b262;
    border-radius: 12px;
    opacity: 90%;
    overflow:auto;

}

#AboutInfo{
    margin-top: 30px;
    text-align: left;
    overflow: hidden;

}

.card {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
        /* background-image: url("bitcoin-back.png"); */
}

.card.expanded {
    height: 400px;
  }

.card-body{
    margin-right: 60px;
    width: 100%;

}


.card-title {
    display: inline;
    margin-left: -45px;
    text-align: left;
    

}

.card-text {
    text-align: left;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 5px;

}


#SwitchCheck {
    float:right;
}