.topTitle {
    height: 100px;
    font-size: 30px;
    background-color: #fc8404;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.0);
}

#coinDV {
    background-image: url("bitcoin-div.png");
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: 750px;
}

.card {
    margin-left: auto;
    margin-right: auto;
    /* background-image: url("bitcoin-back.png"); */
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
    transform: rotate(90deg);
}

#SwitchCheck {
    margin-bottom: 0px;
    margin-left: 200px;
}